* {
    margin: 0%;
    padding: 0%;
}

::-webkit-scrollbar {
    height: 0;
    width: .5rem;

}

::-webkit-scrollbar-track {
    background-color: burlywood;
}

::-webkit-scrollbar-thumb {
    background-color: #f53030;
    border-radius: 5rem;
}

body {
    background-color: black;
    color: white;


}

/*header section nav section*/
.container {
    padding: 10px 10%;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

}

.logo {
    margin-top: 11px;
    width: 140px;
    border-radius: 12px;
    box-shadow: 2px 2px 18px white;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 25px;
    position: relative;
}

nav ul li a::after {
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    left: 0;
    bottom: -6px;
    position: absolute;
    transition: 1s;
}


nav ul li a:hover::after {
    width: 100%;
}

.firstsection {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 81px 0px;
}

.firstsection>div {
    width: 30%;
}

.leftsection {
    font-size: 2.11rem;
}

.rightsection img {
    width: 74%;
    border-radius: 30px;
    box-shadow: 9px 3px 42px tomato;
}

/*utlitiy classes .*/

.purple {
    color: red;
}

/* for red color MMIT */
#element {
    color: red;
}

.info-box {
    padding-left: 126px;
    margin-left: 19px;
    font-size: 22px;
    padding-bottom: 40px
}

.hd5 {
    font-size: 28px;
    color: #db3232;
}

.btn-box {
    text-decoration: none;
    padding-left: 132px;

}

.btn {
    border: 4px solid white;
    height: 48px;
    width: 140px;
    font-size: 19px;
    background-color: rgb(247, 99, 148);
    border-radius: 15px;
    font-weight: bold;
    box-shadow: 2px 2px 10px #e9e8ef;
}


.btn:hover {
    background-color: rgb(255, 70, 70);
    cursor: pointer;
    transition: 0.4s;
    color: black;
}




/*-----------------about-------------------*/

#about {
    padding: 78px;
}

.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col_1 {
    flex-basis: 35%;
}

.about-col_1 img {

    height: 240px;
    width: 234px;
    padding: 32px;
    border-radius: 78px;
    margin: 10px 5px;
    box-shadow: 2px 3px 20px red;
}

.about_col-2 {
    flex-basis: 60%;
}

.heading {
    font-size: 38px;
    padding-bottom: 21px;
    font-weight: bold;
    padding-left: 47px
}

.para {
    padding: 11px;
    font-size: 24px;
    font-family: 'Times New Roman', Times, serif;
}

.tab-titles {
    display: flex;
    margin: 21px 0px 40px;
}

.tab-links {
    margin-right: 51px;
    font-size: 24px;
    font-weight: bold;
    position: relative;
    cursor: pointer;
}

.tab-links::after {
    content: '';
    width: 0;
    height: 4px;
    left: 0;
    bottom: -7px;
    transition: 0.6s;
    background-color: red;
    position: absolute;
}

.tab-links.active-link::after {
    width: 56%;
}

.tab-contents ul li {
    list-style: none;
    margin: 11px 0;
}

.tab-contents ul li span {
    color: rgb(241, 92, 142);
    font-size: 25px;
    font-style: normal;
    font-weight: bold;
}

.tab-contents {
    display: none;
}

.tab-contents.active-tab {
    display: block;
}


/*projects sections */
#projects {
    padding: 30px 0px;
}

.head-p {
    text-align: center;
    font-size: 42px;
    padding-bottom: 21px;
    font-weight: bold;
}

.project-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
    padding-left: 1px;
    padding-right: 1px;

}

.project-list h2 {
    text-align: center;
    padding-bottom: 20px;
    font-size: 27px;
    padding-top: 16px;



}

.project-list div {
    border: 4px solid rgb(241, 43, 43);
    background-color: rgb(233, 211, 183);
    color: black;
    border-radius: 22px;
    height: 280px;
    cursor: pointer;
    transition: background 0.5s, transform 0.5s;
}

.project-list div a {
    text-decoration: none;
    color: red;
    font-size: 20px;
    display: inline-block;
    margin-top: 20px;
    padding-left: 20px;
    font-weight: bold;

}

.project-list div:hover {
    background-color:rgb(247, 153, 86);
    transform: translateY(-7px);
}

.p-heading {
    padding-left: 28px;
    padding-right: 57px;
    border: 3px soild rgb(221, 115, 115);
    font-weight: bold;

}


/*Contact me*/

#contact {
    padding-top: 50px;
}

.contact-heading {
    text-align: center;
    font-size: 39px;
    padding-right: 54px;
}

.p-contact {
    font-size: x-large;
}


.left-contact {
    flex-basis: 35%;
}

.right-contact {
    flex-basis: 60%;
}

.left-contact p {
    margin-top: 30px;

}

.left-contact p i {
    color: red;
    margin-right: 15px;
    font-size: 24px;
}

.contact-row {
    padding-left: 93px;
}

.media-icons {
    margin-top: 30px;
}

.media-icons a {
    font-size: 33px;
    text-decoration: none;
    color: rgb(250, 85, 85);
    margin-right: 15px;
    display: inline-block;
}

.media-icons a:hover {
    color: steelblue;
    transition: 0.9s;
    transform: translateY(-4px);
}

.right-contact form {
    width: 90%;
}

.right-contact {
    margin-top: 29px;
    padding-left: 25px;
}

form input,
form textarea {
    width: 72%;
    outline: none;
    background: #262626;
    padding: 16px;
    margin: 15px 0;
    color: #fff;
    font-size: 17px;
    border-radius: 8px;
    margin-left: 122px;
    border: 2px solid wheat;
}

.btn-contact {
    text-align: center;
}



.btn-submit {
    width: 120px;
    height: 42px;
    border-radius: 11px;
    background-color: red;
    color: black;
    font-size: 15px;
    font-weight: 600;
    box-shadow: 1px 1px 10px whitesmoke;
    cursor: pointer;
    margin-bottom: 16px;

}

.btn-submit:hover {
    background-color: rgb(245, 91, 142);
    transition: 0.3s;
}


/*footer*/

.footer {
    width: 100%;
    text-align: center;
    padding: 25px 0;
    margin-top: 20px;
    font-weight: bold;
    background: #262626;
}


/*CSS- small screen*/

/* Responsiveness Break points */

@media only screen and (max-width: 800px) {
    body {
        font-size: 16px;
    }

    nav {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .logo {
        margin: 10px 0;
    }

    nav ul {
        padding-top: 20px;
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    nav ul li {
        margin: 10px 0;
    }

    .firstsection {
        flex-direction: column;
        text-align: center;
        margin-top: 43px;
    }

    .leftsection {
        padding-top: 12px;
    }

    .firstsection>div {
        width: 60%;
        text-align: center;
        font-size: 30px;
        padding-bottom: 33px;
    }

    .rightsection img {
        width: 100%;
        height: 325px;
        margin-top: 14px;
    }

    .mail-info .hd5 {
        font-size: 22px;
    }

    .info-box,
    .btn-box {
        padding-left: 10%;
        padding-right: 11%;
        margin-left: 28px;
    }

    .btn {
        width: 66%;
        margin-left: 29px;

    }

    #about,
    #projects,
    #contact {
        padding: 50px 0;
    }

    .about_col-2,
    .left-contact,
    .right-contact {
        flex-basis: 100%;
        padding-top: 19px;
        padding-right: 4px;
    }

    .left-contact p i {
        margin-right: 2px;
    }

    .tab-titles {
        flex-direction: column;
        text-align: center;
    }

    .tab-links {
        font-size: 29px;
        margin-right: 0;
        margin-bottom: 24px;
    }

    .tab-contents.active-tab {
        display: block;
        padding-left: 31px;
    }

    .tab-links.active-link::after {
        width: 36%;
        margin-left: 100px;
    }

    .tab-contents {
        margin-top: 20px;
    }

    .project-list div { 
        height: 360px;
        text-align: center;
    }

    .project-list div a {
        padding-left: 1px;
        height: 33px;
    }


    .project-list h2,
    .p-heading {
        text-align: center;
        padding-right: 67px;
    }

    .contact-heading {
        text-align: center;
        padding-right: 83px;
    }

    .contact-row {
        padding-left: 73px;
    }

    .right-contact {
        padding-right: 49px;
    }

    .btn-contact {
        padding-top: 18px;
    }

    form input,
    form textarea {
        width: 100%;
        margin-left: 0;
    }

}